<launch>
	<arg name="input" default="csi://0"/>
	<arg name="input_width" default="640"/>
	<arg name="input_height" default="480"/>
	<arg name="input_codec" default="unknown"/>
	<arg name="framerate" default="30"/>

	<arg name="max_spd" default="100"/>

	<param name="robot_description" command="cat $(find sandwich)/urdf/sandwich.urdf" />

	<node pkg="ros_deep_learning" type="video_source" name="video_source" output="screen">
		<param name="resource" value="$(arg input)"/>
		<param name="width" value="$(arg input_width)"/>
		<param name="height" value="$(arg input_height)"/>
		<param name="loop" value="0"/>
		<param name="framerate" value="$(arg framerate)"/>
		<remap from="/video_source/raw" to="/camera/image_raw"/>
	</node>
	
	<node pkg="sandwich" type="motcontrol.py" name="motcontrol" output="screen">
		<param name="lin_gain" value="100"/>
		<param name="ang_gain" value="100"/>
		<param name="max spd" value="$(arg max_spd)"/>
	</node>

	<include file="$(find sandwich_remote)/launch/bacon.launch"/>

	<node pkg="sandwich" type="camera_info_pub.py" name="camerainfo" output="screen"/>
	<node pkg="image_proc" type="image_proc" name="image_proc" ns="camera" output="screen"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	<node name="joy_node" type="joy_node" pkg="joy">
		<param name="dev" value="/dev/input/js0"/>
		<param name="deadzone" value="0.05"/>
		<param name="autorepeat_rate" value="0.0"/>
		<param name="coalesce_interval" value="0.001"/>
		<param name="default_trig_val" value="true"/>
		<param name="dev_ff" value="/dev/input/event2"/>
	</node>

	<node name="joy_teleop" pkg="sandwich_remote" type="joy_teleop"/>
	<node name="node_manager" pkg="sandwich" type="node_manager.py"/>
</launch>
