<launch>
    <arg name="follow" default="false"/>

    <rosparam command="load" file="$(find sandwich_autonomous)/configs/tags.yaml" />

    <include file="$(find apriltag_ros)/launch/continuous_detection.launch">
        <arg name="camera_name" value="camera"/>
    </include>


    <node if="$(arg follow)" pkg="sandwich_autonomous" type="apriltag_follow.py" name="apriltag_follow" output="screen"/>
</launch>