<launch>

	<include file="$(find ros_deep_learning)/launch/detectnet.ros1.launch">
		<arg name="model_name" value="coco-bottle"/>
	</include>

	<node pkg="sandwich" type="motcontrol.py" name="motcontrol" output="screen">
		<param name="lin_gain" value="50.0"/>
		<param name="ang_gain" value="50.0"/>
	</node>

	<node pkg="sandwich" type="beer_follower.py" name="beer_follower" output="screen"/>

</launch>
