	<launch>

	<arg name="input_topic" default="/video_source/raw"/>

	<!-- SEGNET -->
	<arg name="model_name" default="fcn-resnet18-sun-640x512"/>
	<arg name="model_path" default=""/>
	<arg name="prototxt_path" default=""/>
	<arg name="class_labels_path" default=""/>
	<arg name="class_colors_path" default=""/>
	<arg name="input_blob" default=""/>
	<arg name="output_blob" default=""/>
	<arg name="mask_filter" default="point"/>
	<arg name="overlay_filter" default="linear"/>
	<arg name="overlay_alpha" default="180.0"/>

	<node pkg="ros_deep_learning" type="segnet" name="segnet" output="screen">
		<remap from="/segnet/image_in" to="$(arg input_topic)"/>
		<param name="model_name" value="$(arg model_name)"/>
		<param name="model_path" value="$(arg model_path)"/>	
		<param name="prototxt_path" value="$(arg prototxt_path)"/>
		<param name="class_labels_path" value="$(arg class_labels_path)"/>
		<param name="class_colors_path" value="$(arg class_colors_path)"/>
		<param name="input_blob" value="$(arg input_blob)"/>
		<param name="output_blob" value="$(arg output_blob)"/>
		<param name="mask_filter" value="$(arg mask_filter)"/>
		<param name="overlay_filter" value="$(arg overlay_filter)"/>
		<param name="overlay_alpha" value="$(arg overlay_alpha)"/>
	</node>




</launch>
